
.accordion {
    
    
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.2s ease;
}

.accordion-button:hover {
    background-color: #e2e2e2;
}

.accordion-content {
    padding: 15px;
    display: none;
    background-color: #fff;
}

.accordion-content p {
    margin: 0;
}

.proimages{
    width: 40%;
    margin-bottom: 2rem;
}

.img1{
    width: 5rem;
    height: 5rem;    
}

.img2{
    width: 11rem;
    height: 4rem;    
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ulrna{
    font-size: 1.4rem;
    padding: 0.5rem;
    list-style: none;
}

.parrafo1{
    font-size: 1.4rem;
    padding: 0.5rem;
}

.ulcontac{
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;        
}
.ulcontac li {
    padding-top : 1.2rem;
}
.alink {
    
    text-decoration: none;
    color: #007BFF;
}

@media (max-width: 600px) {
    .img1 {
        width: 3rem; 
        height: 3rem;
    }
    .img2{
        width: 7rem; 
        height: 2rem;
    }
}


.gmail-btn {
    display: inline-block;
    background-color: #DB4437;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.gmail-btn:hover {
    background-color: #C13524;
}

.whatsapp-btn {
    display: inline-block;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.whatsapp-btn:hover {
    background-color: #128C7E;
}